	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/common/bootstrap/css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/common/global.css" media="all">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/personal.css" media="all">
</head>
<body>
<section class="layui-larry-box">
	<div class="larry-personal">
	    <div class="layui-tab">
            <blockquote class="layui-elem-quote news_search">
				<div class="layui-inline">
				    <div class="layui-input-inline">
				    	<input value="" placeholder="请输入关键字" class="layui-input search_input" type="text">
				    </div>
				    <a class="layui-btn search_btn">查询</a>
				</div>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-normal newsAdd_btn">添加文章</a>
				</div>
				<div class="layui-inline">
					<a class="layui-btn recommend" style="background-color:#5FB878">推荐文章</a>
				</div>
				<div class="layui-inline">
					<a class="layui-btn audit_btn">审核文章</a>
				</div>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-danger batchDel">批量删除</a>
				</div>
				<div class="layui-inline">
					<div class="layui-form-mid layui-word-aux">本页面刷新后除新添加的文章外所有操作无效，关闭页面所有数据重置</div>
				</div>
				
			</blockquote>
			<blockquote class="layui-elem-quote news_search">
				<div class="layui-btn-group">
				  <button class="layui-btn layui-btn-small layui-btn-normal"><i class="layui-icon">&#xe61f;</i></button>
				  <button class="layui-btn layui-btn-small layui-btn-danger"><i class="layui-icon">&#x1002;</i></button>
				  <button class="layui-btn layui-btn-small layui-btn-warm"><i class="layui-icon">&#xe601;</i></button>
				  <button class="layui-btn layui-btn-small layui-btn-disabled"><i class="layui-icon">&#xe642;</i></button>
				  <button class="layui-btn layui-btn-small layui-btn-primary"><i class="layui-icon">&#xe603;</i></button>
				  <button class="layui-btn layui-btn-small layui-btn-primary"><i class="layui-icon">&#xe602;</i></button>
				  <button class="layui-btn layui-btn-small layui-btn-primary"><i class="layui-icon">&#xe62d;</i></button>
				  <button class="layui-btn layui-btn-small layui-btn-primary"><i class="layui-icon">&#xe609;</i></button>
				  <button class="layui-btn layui-btn-small layui-btn-primary"><i class="layui-icon">&#xe640;</i></button>
				</div>
			</blockquote>
            
		         <!-- 操作日志 -->
                <form class="layui-form" action="" method='post'>
				  <div class="layui-form-item">
				    <label class="layui-form-label">管理员id</label>
				    <div class="layui-input-block">
				      <input type="text" name="login_name" required  lay-verify="required" placeholder="请输入管理员登录名" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">密码</label>
				    <div class="layui-input-inline">
				      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				   <div class="layui-form-item">
				    <label class="layui-form-label">确认密码</label>
				    <div class="layui-input-inline">
				      <input type="password" name="repassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">手机号</label>
				    <div class="layui-input-inline">
				      <input type="text" name="phone" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">角色</label>
				    <div class="layui-input-block">
				      <select name="city" lay-verify="required">
				        <option value=""></option>
				        <option value="0">北京</option>
				        <option value="1">上海</option>
				        <option value="2">广州</option>
				        <option value="3">深圳</option>
				        <option value="4">杭州</option>
				      </select>
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">城市</label>
				    <div class="layui-input-block">
				      <select name="city" lay-verify="required">
				        <option value=""></option>
				        <option value="0">北京</option>
				        <option value="1">上海</option>
				        <option value="2">广州</option>
				        <option value="3">深圳</option>
				        <option value="4">杭州</option>
				      </select>
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">状态</label>
				    <div class="layui-input-block">
				      <input type="checkbox" name="switch" lay-skin="switch">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">性别</label>
				    <div class="layui-input-block">
				      <input type="radio" name="sex" value="男" title="男">
				      <input type="radio" name="sex" value="女" title="女" checked>
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
				      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
				    </div>
				  </div>
				</form>
 

			     <!-- 完 -->
			   
		    </div>
		</div>
	
</section>
<script type="text/javascript" src="__PUBLIC__/Admin/common/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/newslist.js"></script>
<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  
  form.verify({
			pass: [/^[\S]{6,12}$/, '密码必须6到12位'],
			repass: function(value){
				var repassvalue = $('input[name=password]').val();
				if(value != repassvalue){
				return '两次输入的密码不一致!';
				}
			}
		});
  //监听提交
  form.on('submit(formDemo)', function(data){
        var login_name = $("input[name=login_name]").val();  //登录名
        var password = $('input[name=password]').val(); //密码
        var phone = $('input[name=phone]').val(); //手机号
        var role = $('input[name=role]').val(); //角色
        var city = $('input[name=city]').val(); //城市
        var sex = $('input[name=sex]').val(); //性别
        var status = $('input[name=status]').val(); //状态

        $.ajax({
        	url:'__CONTROLLER__/doadd',
        	data:{login_name:login_name,password:password,phone:phone,role:role,city:city,sex:sex,status:status},
        	type:'POST',
        	dataType:"json",
        	success:function(data)
        	{
        		
        	}
        })
  });
});
</script>
</body>
</html>