<link rel="stylesheet" href="__PUBLIC__/Home/css/region.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/page2.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/layui.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/right-tab.css">
<script src="__PUBLIC__/Home/js/layui.js"></script>
</head>

<body>
    <div class="shadeBox"></div>
    <div id="showCityBox" class="province-switch" style="display: none;">
    </div>

    <div class="headLogin">
        <div class="left changeBan">
            <a href="javascript:;" id="cityChoose" class="region">{$city}</a>
            <a href="" target='_blank'>社会组织版</a>
            <a class="on" href="" target='_blank'>社区版</a>
        </div>
        <div class="right person">
            <div class="dropdown pull-right">
                <if condition='($isidentify eq 1) and ($code gt 0)'>
                    <a class="myOwnIndex" href="__MODULE__/Home/displayOriganizationHome">{$origanization_name}</a>
                </if>
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <div class="user-img" style="display: inline-block">

                        <img src="{$user_image}" alt="">
                        <span class="iconfont VIP-icon" style="right: -20px;">&#xe65b;</span>
                    </div>


                    <span>{$showname}<if condition='$active egt 1'><span class="layui-badge-dot"></span></if>
                    </span>
                </a>
                <ul class="dropdown-menu personalMenu">
                    <li>
                        <a href="__CONTROLLER__/origanizationIdentify">认证状态</a>
                    </li>
                    <if condition='($isidentify eq 1)'>
                        <li>
                            <a href="__CONTROLLER__/personInfo">账号设置</a>
                        </li>
                    </if>
                    <if condition='($isidentify eq 1) and ($code gt 0)'>
                        <li>
                            <a href="__CONTROLLER__/myOriganization">我的机构</a>
                        </li>
                        <li>
                            <a href="__MODULE__/Project/origanizationProjectManger">我的项目<if condition='$active egt 1'><span class="layui-badge-dot"></span></if></a>
                        </li>
                        <li>
                            <a href="__MODULE__/Home/displayOriganizationHome">机构主页</a>
                        </li>
                    </if>
                    <li>
                        <a href="__CONTROLLER__/logout">注销</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!--<div class = "headNavBox">
    <div class = "container">
        <div class = "top">
            <div class = "logo  col-md-7">
                <img src="__PUBLIC__/Home/imgs/logo.png" alt="">
                <span>社居易</span>
            </div>
            <ul class = "mainNav col-md-5">
                <li>
                    <a class = "" href="__CONTROLLER__/send_project">发布项目</a>
                </li>
            </ul>
        </div>
    </div>
    <div class = "container">
        <div class = "search">
            <input class="form-control" type="text" />
            <button type="submit" class="btn btn-default">在线搜索</button>
        </div>
    </div>
</div>-->
    <div class="headNavBox">
        <div class="container">
            <div class="top">
                <div class="logo  col-md-6">
                    <img src="__PUBLIC__/Home/imgs/logo.png" alt="">
                    <span>社居易</span>


                </div>
                <div class="mainNav col-md-6">
                    <div class="search">
                        <input id="searchText" class="form-control" type="text" />
                        <button id="searchAll" type="submit" class="btn btn-default iconfont">&#xe61a;</button>

                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="container">
        <div id="ifocus">
            <div id="ifocus_pic">
                <div id="ifocus_piclist" style="left:0; top:0;">
                    <ul>
                        <li>
                            <a href="#"><img src="__PUBLIC__/Home/imgs/zixun1.JPG" alt="" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="__PUBLIC__/Home/imgs/zixun2.JPG" alt="" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="__PUBLIC__/Home/imgs/zixun3.jpg" alt="" /></a>
                        </li>
                    </ul>
                </div>
                <div id="ifocus_opdiv"></div>
                <div id="ifocus_tx">
                    <ul>
                        <li class="current">忧伤在我心中沉静下来，宛如降临在寂静山林中的夜色</li>
                        <li class="normal">我就像一只停泊在海滩上的小船，聆听着晚潮奏</li>
                        <li class="normal">生命是上天赋予的，我们惟有献出生命，才能真正得到它</li>
                    </ul>
                </div>
            </div>
            <div id="ifocus_btn">
                <ul>
                    <li class="current"><img src="__PUBLIC__/Home/imgs/zixun1.JPG" alt="" /></li>
                    <li class="normal"><img src="__PUBLIC__/Home/imgs/zixun2.JPG" alt="" /></li>
                    <li class="normal"><img src="__PUBLIC__/Home/imgs/zixun3.jpg" alt="" /></li>
                </ul>
            </div>
        </div>

    </div>




    <div class="container house-list">
        <div class="row clearfix  col-md-9">
            <ul class="nav navbar-nav classNav">
                <li>
                    <a class="on" href="javascript:;" flag='0'>全部</a>
                </li>
                <foreach name='origanization_type' item='vo'>
                    <li>
                        <a href="javascript:;" flag="{$vo['sjy_id']}">{$vo['sjy_origanization_type_name']}</a>
                    </li>
                </foreach>
            </ul>
            <div style="height: 0; clear: both;"></div>
            <ul class="buildImg" id="origanizationList">


            </ul>
            <div style="text-align: center" id="test1"></div>
        </div>
        <div class="col-md-3 program-box">
            <div class="publish-program">
                <if condition='($figure eq 1) and ($code gt 0)'>
                    <a class="publish-btn" target='_blank' href="__MODULE__/Origanization/send_project">发布项目</a>
                </if>
                <if condition='($figure eq 2) and ($code gt 0)'>
                    <a class="deliverBtn" target='_blank' href="__MODULE__/Community/send_project">发布项目</a>
                </if>


            </div>


            <div class="programTit">
                <p class="tit-p1">基本信息</p>
            </div>
            <div class="paddingBox">
                <dl>
                    <dt>项目总数</dt>
                    <dd><span>{$project_num}</span> 个</dd>
                </dl>
                <dl>
                    <dt>入驻机构</dt>
                    <dd><span>{$origanization_num}</span> 家</dd>
                </dl>
                <dl>
                    <dt>入驻社区</dt>
                    <dd><span>{$community_num}</span> 家</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row clearfix footerBox">
        <div class="container">
            <div class="copyright fl">
                <p class="left">北京社居易有限公司 版权所有</p>
                <p class="right">
                    Copyright © 2017-2018 社居易 京ICP备18019570
                </p>
            </div>
        </div>
    </div>

</body>
<script src="__PUBLIC__/Home/js/cityBoxShow.js"></script>

<script>
    /*社区这边还没弄分页*/
    /*首次加载*/
    var searchFunc = function(text = '', type = '') {

        var count;
        /*搜索 */



        $.get("__MODULE__/Search/getOriganizationCount?type=" + type + "&search_body=" + text, function(data) {
            var html = "";

            count = Number(data);
            layui.use('laypage', function() {

                var laypage = layui.laypage;

                //执行一个laypage实例
                laypage.render({
                    elem: 'test1',
                    count: count //数据总数，从服务端得到
                        ,
                    limit: 10,
                    jump: function(obj, first) {
                        //obj包含了当前分页的所有参数，比如：
                        console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                        console.log(obj.limit); //得到每页显示的条数
                        $.get("__MODULE__/Search/searchOriganization?type=" + type + "&search_body=" + text + "&page=" + obj.curr, function(data) {
                            var html = "";
                            console.log(data.data[0]);
                            for (var i = 0; i < data.data.length; i++) {
                                var href = '__MODULE__/Home/displayOriganizationHome/id/' + data.data[i].sjy_id;


                                html += '<li>' +
                                    '<a href="' + href + '">' +
                                    '<div class="col-md-3 column" >' +
                                    '<img  src="' + data.data[i].sjy_origanization_logo_img_path + '" alt="" style = "height: 140px;width: 190px;border: 1px solid #cccccc;">' +
                                    '</div>' +
                                    '<div class="col-md-7 column house-list-info" style="padding-top: 10px;">' +
                                    '<p class = "projectTit">' +
                                    '<span class = "tit">' + data.data[i].sjy_origanization_name + '</span>' +
                                    '</p>' +
                                    '<p class = "where">' +
                                    '<span  class = "sp3 sp">服务对象</span><i>|</i>' +
                                    '<span class = "region">' + data.data[i].sjy_origanization_type_name + '</span>' +
                                    '</p>' +
                                    '<div class = "type">' +
                                    '<span class = "iconfont">&#xe61f;</span>' +
                                    '<span>' + data.data[i].address.sjy_origanization_city_name + '</span>-<span>' + data.data[i].address.sjy_origanization_area_name + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</a>' +
                                    '</li>';



                            }
                            $("#origanizationList").html(html);

                        });
                        //首次不执行
                        if (!first) {
                            //do something



                        }
                    }
                });

            });


        });

    };





    searchFunc();

    /*搜索 */
    var text = $("#searchText").val();
    var type = "";

    /*为老服务， 司法矫正 等taB 项的切换*/
    $(".classNav > li > a").click(function() {

        type = $(this).attr('flag');
        console.log(type);

        $(".classNav > li > a").removeClass("on");

        $(this).addClass('on');
        search(text, type);

    });


    /*搜索的时候， 请求的接口*/
    var search = function(text = '', type = '') {
        searchFunc(text, type);
        // $.ajax({
        //     url: "__MODULE__/Search/searchCommunityProject",
        //     type: "GET",
        //     data: {
        //         type: type,
        //         search_body: text
        //     },
        //     dataType: "json",
        //     success: function(data) {

        //         searchFunc();

        //     },
        //     async: false
        // });
        // return false;

    };

    /*按下搜索按钮*/
    $("#searchAll").click(function() {
        text = $("#searchText").val();
        console.log(text);
        $(".classNav > li > a").removeClass("on");
        $('.classNav > li > a:first').addClass('on');
        search(text, 0);

    });





    /*回车也可以了*/

    $("body").keydown(function() {
        if (event.keyCode == "13") {
            $(".classNav > li > a").removeClass("on");
            $(".classNav > li > a:first").addClass('on');
            text = $("#searchText").val();
            search(text, 0);

        }
    });
</script>


</html>