<meta charset="UTF-8">
  <script src = "__PUBLIC__/Home/js/jquery.page.js"></script>
  <link href="__PUBLIC__/Home/css/common1.css" type="text/css" rel="stylesheet"/>
  <link href="__PUBLIC__/Home/css/index1.css" type="text/css" rel="stylesheet"/>
  </head>
   <body>
<ul class="layui-timeline">
         <foreach name ="projectrate" item = "val">
         <li class="layui-timeline-item">
              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
         <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">{$val.create_time}</h3>
         <p>
        {$val.sjy_projectrate_title}
        <br /><a href = '__CONTROLLER__/projectinfo/rateid/{$val.sjy_id}/project_id_flag/{$project_id_flag}#rate{$val.sjy_id}' class = 'detail' target="_blank">进度详情</a> 
      </p>
    </div>
  </li>
</foreach>
</ul>
  </body>
</html>

