    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyLife</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/region.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/testfy.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/chooseCity.css">
    <script src = "__PUBLIC__/Home/js/bootstrap.js"></script>
    <script src = "__PUBLIC__/Home/js/jquery.page.js"></script>
    <script src = "__PUBLIC__/Home/js/upLoadImg.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/cityData.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/cityPicker.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/cityPicker.css">
</head>
<body>
<script>
// $(".send_project_book").click(function(){
      layui.use('upload', function(){
      var upload = layui.upload;

      //执行实例
      var uploadInst = upload.render({
        elem: '#send_project_book' //绑定元素
        ,url:'__CONTROLLER__/file_upload/community_id/{$community_info[0].sjy_id}/project_id/{$projectinfo.sjy_id}'
        ,exts: 'pdf|doc|docx'
        ,done: function(res){
          //上传完毕回调
          if(res.state == 1)
          {
            layer.msg("发送成功");
          }
        }
        ,error: function(){
          //请求异常回调
        }
      });
    });
// })

</script>
<div class="shadeBox"></div>
<div id = "showCityBox" class = "province-switch" style = "display: none;">
</div>
<empty name="loginhead">
<include file='./Application/Home/View/login1.html' />
<else />
<include file='./Application/Home/View/login.html' />
</empty>
<div class = "headNavBox">
    <div class = "container">
        <div class = "top">
            <div class = "logo  col-md-4">
                <img src="__PUBLIC__/Home/imgs/logo.png" alt="">
                <a href = "javascript:;" id = "Choosecity" class = "region">{$city.city}</a>
                       <input type="hidden" id="province" value="">
                  <input type="hidden" id="city" value="">
                  <script>
      var cityPicker = new IIInsomniaCityPicker({
          data: cityData,
          target: '#Choosecity',
          valType: 'k-v',
          hideCityInput: '#city',
          hideProvinceInput: '#province',
          callback: function(city_id){
              $.ajax({
                  url:"__CONTROLLER__/setcity",
                  type:"post",
                  dataType:"json",
                  data:{cityid:city_id},
                  success:function(data)
                   {
                       if(data)
                       {
                           
                           location.reload();
                       }
                   }
              })
  
          }
      });
  
      cityPicker.init();
  </script>

            </div>
        </div>

    </div>
    <div class = "container search">
        <form class="col-md-8" role="search">
            <input class="form-control" type="text" />
            <button type="submit" class="btn btn-default">在线搜索</button>
        </form>
        <div class = "col-md-4">
            <a class = "socialBtn btn-switch" href="">社会组织版</a>
            <a class = "comunityBtn btn-switch" href="">社区版</a>
        </div>
    </div>
</div>

<div class = "container">
    <div class = "testifyBox">
        <h2 >{$projectinfo.sjy_community_project_title}</h2>
        <div class = "col-md-12">
            <if condition='$isshowbutton eq 1'>
            <div class = "oneTalk">
                <a href="javascript:;" id="send_project_book">
                    发送项目书
                </a>
            </div>
            </if>

            <ul class = "testUl peopleInfo">
                <li>
                    <p>服务对象 :<span>{$projectinfo.sjy_community_project_service_area}</span></p>
                </li>
                <li>
                    <p>项目地点 : <span>{$community_info[0].sjy_community_name}</span><span> <a href = "__CONTROLLER__/communityinfo/id/{$community_info[0].sjy_id}">社区详情</a></span></p>
                    {$community_info[0].province}{$community_info[0].city}{$community_info[0].area}{$community_info[0].street}{$community_info[0].sjy_community_address}<br />
                    {$community_info[0].sjy_community_phone}
                </li>
		<li>
		    <p>招标周期:<span>{$projectinfo.sjy_community_project_collect_start_time}-{$projectinfo.sjy_community_project_collect_end_time}</span></p>
		</li>
                <li>
                    <p>执行周期: <span>{$projectinfo.sjy_community_project_start_time}-{$projectinfo.sjy_community_project_end_time}</span></p>
                </li>
                <li>
                    <p> 需求简介: <span>{$projectinfo.sjy_community_project_demand}</span></p>

                </li>
		<foreach name = "projectinfo.project_image" item="val">
                <li class = "detailImg">
                    <img src="/shejuyi{$val.sjy_community_project_image}" alt="">
                </li>
		</foreach>
               <if condition="$origanization_base_info neq null">
		      <p>项目执行方信息</p>
                     <li><p>项目方名称:<span>{$origanization_base_info['sjy_origanization_name']}</span></p></li>
                     <li><p>联系电话:<span>{$origanization_base_info['sjy_origanization_phone']}</span></p></li>
                     <li><p>地址:<span>{$origanization_base_info['position_info']}</span></p></li>
                
               </if>
            </ul>
              <if condition="$rateinfo neq null">
                <foreach name = "rateinfo" item = "val">
                <a name="rate{$val.sjy_id}"></a>
              	{$val.sjy_projectrate_title}<br />
                {$val.create_time}<br />
                {$val.sjy_project_rate_con}
             	 <hr class="layui-bg-orange"> 
                </foreach>
              </if>
        </div>

        <div class = "clearfix"></div>
        <div style = "height: 50px;"></div>
    </div>
</div>


<div class="row clearfix footerBox">
    <div class="container">
        <div class="f-title col-md-12">
            <div class="fl col-md-10">
                <ul class = "">
                    <li><a href="" target="_blank">了解社居易</a></li>
                    <li><a href="" target="_blank">关于社居易</a></li>
                    <li><a href="" target="_blank">联系我们</a></li>
                    <li><a href="" target="_blank">加入我们</a></li>
                    <li><a href="" target="_blank">隐私声明</a></li>
                    <li><a href="" target="_blank">网站地图</a></li>
                    <li><a href="" target="_blank">友情链接</a></li>
                    <li><a href="" target="_blank">经纪人登录</a></li>
                </ul>
            </div>
            <div class="col-md-2 fr">官方客服 1010 9666</div>
        </div>
        <div class = "fl">
            <div class="tab">
                <span class="">北京二手房</span>
                <span class="">北京二手房热门城市</span>
                <span class="">北京租房</span>
                <span>北京二手房说明</span>
                <span>北京二手房小区</span>
                <span class="">租房频道下的小区列表</span>
                <span>百科</span>
                <span>链家分站</span>
                <span class="">房产专题</span>
                <span class="hover">热门百科</span>
                <span class="">合作与友情链接</span>
            </div>
        </div>
        <div class="copyright fl">北京社居易有限公司 版权所有</div>
    </div>
</div>
</body>
<script src = "__PUBLIC__/Home/js/cityBoxShow.js"></script>
<script>
   
    //     layui.use('upload', function(){
    //          var upload = layui.upload;
    //      var uploadInst = upload.render({
    //           elem: '#send_project_book'
    //           url: '__CONTROLLER__/file_upload/community_id/{$community_info[0].sjy_id}/project_id/{$projectinfo.sjy_id}',
    //            ,done: function(res){
    //                 //上传完毕回调
    //             }
    //             ,error: function(){
    //               //请求异常回调
    //             }
    //           ext: 'pdf|doc|docx'
    //     });      
    // })
	 $("#Chooseicity").click(function(){
             layer.open({
                    type:2,
                    title:"选择城市",
                    content:"__CONTROLLER__/choosecity",
                    btnAlign: 'c',
                    area:["80%","95%"],
                    btn:["确定","重置"],
                    yes:function(index,layero)
                    {
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        var res = iframeWin.choose_city();  //子页面点击确认
                        if(res)
                        {

                           layer.closeAll();
                           window.location.reload();
                        }
                    }
                })
        })
</script>
</html>
