 <div class = "searchHouseCondition">
 <foreach name="citys" item = "val"> 
    <input type = "radio" name = "city" value = "{$val.sjy_origanization_city}" />{$val.city}
</foreach>

    <script type="text/javascript">
        function choose_city()
        {
            var cityid = $("input:radio[name=city]:checked").val();
            var flag = 0;
            $.ajax({
                url:"setcity",
                type:"post",
                dataType:"json",
                data:{cityid:cityid},
                success:function(data)
                {
                    if(data)
                    {
                        flag = 1;
                    }else{
                        flag = 0;
                    }
                },
                async:false
            })
            if(flag)
            {
                return 1;
            }else{
                return 0;
            }
        }
    </script>
</div>
