	 <meta charset = "utf-8" />
</head>
<body>
     <button id = "group">社区机构认证</button>
     <button id = "person">个人社工认证</button>

     <script type="text/javascript">
     //代表单位注册
     $("#group").click(function(){
     	  layer.open({
                    type:2,
                    title:"社区认证",
                    content:"communityIdenty",
                    btnAlign: 'c',
                    area:["100%","100%"],
                })
  //    	var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		// parent.layer.close(index); //再执行关闭        
     })
     //社区职工
     $("#person").click(function(){
          layer.open({
                    type:2,
                    title:"个人认证",
                    content:"communityPersonIdenty",
                    btnAlign: 'c',
                    area:["100%","100%"],
                })
  //        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        // parent.layer.close(index); //再执行关闭        
     })
     </script>
</body>
</html>