    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyLife</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/region.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/testfy.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/chooseCity.css">
    <script src = "__PUBLIC__/Home/js/bootstrap.js"></script>
    <script src = "__PUBLIC__/Home/js/jquery.page.js"></script>
    <script src = "__PUBLIC__/Home/js/upLoadImg.js"></script>

</head>
<body>
<div class="shadeBox"></div>
<div id = "showCityBox" class = "province-switch" style = "display: none;">
</div>


<div class = "container">
    <div class = "testifyBox">
        <h2 >{$projectinfo.sjy_community_project_title}</h2>
        <div class = "col-md-12">
            

            <ul class = "testUl peopleInfo">
                <li>
                    <p>服务对象 :<span>{$projectinfo.sjy_community_project_service_area}</span></p>
                </li>
                <li>
                    <p>项目地点 : <span>{$community_info[0].sjy_community_name}</span><span> </p>
                    {$community_info[0].province}{$community_info[0].city}{$community_info[0].area}{$community_info[0].street}{$community_info[0].sjy_community_address}<br />
                    {$community_info[0].sjy_community_phone}
                </li>
                <li>
                    <p>项目预算 : <span>3万</span></p>
                </li>
                <li>
                    <p>项目周期 : <span>{$projectinfo.sjy_community_project_start_time}-{$projectinfo.sjy_community_project_end_time}</span></p>
                </li>
                <li>
                    <p> 需求简介: <span>{$projectinfo.sjy_community_project_demand}</span></p>

                </li>
                <li>
                    <p>项目要求: </p>
                    <ul>
                        <li>1. 主题突出关爱 </li>
                        <li>2. 环保 </li>
                    </ul>

                </li>
                <li class = "detailImg">
                    <img src="__PUBLIC__/Home/imgs//she1.png" alt="">
                </li>


            </ul>

        </div>

        <div class = "clearfix"></div>
        <div style = "height: 50px;"></div>
    </div>
</div>



</body>
<script src = "__PUBLIC__/Home/js/cityBoxShow.js"></script>

</html>