    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyLife</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/region.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/testfy.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/chooseCity.css">
    <script src = "__PUBLIC__/Home/js/bootstrap.js"></script>
    <script src = "__PUBLIC__/Home/js/jquery.page.js"></script>
    <script src = "__PUBLIC__/Home/js/upLoadImg.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/cityPicker.css">
       <script type="text/javascript" src="__PUBLIC__/Home/js/cityData.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/cityPicker.js"></script>
</head>
<body>
<div class="shadeBox"></div>
<div id = "showCityBox" class = "province-switch" style = "display: none;">
</div>

<empty name="loginhead">
  <include file='./Application/Home/View/login1.html' />
  <else />
  <include file='./Application/Home/View/login.html' />
  </empty>

<div class = "headNavBox">
    <div class = "container">
        <div class = "top">
            <div class = "logo  col-md-4">
                <img src="__PUBLIC__/Home/imgs/logo.png" alt="">
                <a href = "javascript:;" id = "Choosecity" class = "region">{$city.city}</a>
	                        <input type="hidden" id="province" value="">
                    <input type="hidden" id="city" value="">
                    <script>
        var cityPicker = new IIInsomniaCityPicker({
            data: cityData,
            target: '#Choosecity',
            valType: 'k-v',
            hideCityInput: '#city',
            hideProvinceInput: '#province',
            callback: function(city_id){
                $.ajax({
                    url:"__CONTROLLER__/setcity",
                    type:"post",
                    dataType:"json",
                    data:{cityid:city_id},
                    success:function(data)
                     {
                         if(data)
                         {
                             location.reload();
                         }
                     }
                })
    
            }
        });
    
        cityPicker.init()
</script>
            </div>
        </div>

    </div>
    <div class = "container search">
        <form class="col-md-8" role="search">
            <input class="form-control" type="text" />
            <button type="submit" class="btn btn-default">在线搜索</button>
        </form>
        <div class = "col-md-4">
            <a class = "socialBtn btn-switch" href="">社会组织版</a>
            <a class = "comunityBtn btn-switch" href="">社区版</a>
        </div>
    </div>
</div>

<div class = "container">
    <div class = "testifyBox">
        <h2 >{$project_info.sjy_origanization_project_title}</h2>
        <div class = "col-md-12">
	   <if condition="$from eq 0">
           <empty name='loginhead'>
            <div class = "oneTalk">
                <a id = "send_progect">
                    邀请他发项目书
                </a>
            </div>
           </empty>
	   </if>

            <ul class = "testUl peopleInfo">
                <h3>机构名 :<span>{$origanization_info[0].sjy_origanization_name}</span></h3>
                <a href = '__CONTROLLER__/origanizationinfo/id/{$origanization_info[0].sjy_id}' target='_blank'>机构详情</a>
		<br />
                <li>
                    <p>服务对象 :<span>{$project_info.sjy_origanization_project_service_object}</span></p>
                </li>
                <li>
                   <p>项目目标:<span>{$project_info.sjy_origanization_project_target}</span></p>
                </li>
                <li>
                    <p>执行周期:<span>{$project_info.sjy_origanization_project_start_time}~{$project_info.sjy_origanization_project_end_time}</span></p>
                </li>
                <li>
                    <p>项目介绍: <span>{$project_info.sjy_origanization_project_info}</span></p>

                </li>
		<foreach name="project_info.project_image" item='val'>
                <li class = "detailImg">
                    <img src="/shejuyi{$val.sjy_origanization_project_image}" alt="">
                </li>
		</foreach>


            </ul>

        </div>

        <div class = "clearfix"></div>
        <div style = "height: 50px;"></div>
    </div>
</div>


<div class="row clearfix footerBox">
    <div class="container">
        <div class="f-title col-md-12">
            <div class="fl col-md-10">
                <ul class = "">
                    <li><a href="" target="_blank">了解社居易</a></li>
                    <li><a href="" target="_blank">关于社居易</a></li>
                    <li><a href="" target="_blank">联系我们</a></li>
                    <li><a href="" target="_blank">加入我们</a></li>
                    <li><a href="" target="_blank">隐私声明</a></li>
                    <li><a href="" target="_blank">网站地图</a></li>
                    <li><a href="" target="_blank">友情链接</a></li>
                    <li><a href="" target="_blank">经纪人登录</a></li>
                </ul>
            </div>
            <div class="col-md-2 fr">官方客服 1010 9666</div>
        </div>
        <div class = "fl">
            <div class="tab">
                <span class="">北京二手房</span>
                <span class="">北京二手房热门城市</span>
                <span class="">北京租房</span>
                <span>北京二手房说明</span>
                <span>北京二手房小区</span>
                <span class="">租房频道下的小区列表</span>
                <span>百科</span>
                <span>链家分站</span>
                <span class="">房产专题</span>
                <span class="hover">热门百科</span>
                <span class="">合作与友情链接</span>
            </div>
        </div>
        <div class="copyright fl">北京社居易有限公司 版权所有</div>
    </div>
</div>
</body>
<script src = "__PUBLIC__/Home/js/cityBoxShow.js"></script>
<script>
    $("#send_progect").click(function(){
       layer.open({
            type:2,
            title:"发送项目邀请",
            content:"__CONTROLLER__/invite_project/origanization_id/{$origanization_info[0].sjy_id}",
            area:["30%","50%"],
            yes: function(index, layero){
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var res = iframeWin.login(); //调用子页的登陆方法
                //如果登陆成功则关闭弹出层,同时跳转到列表页
                if(res)
                {
                    layer.close(layer.index); //关闭弹出层
                    //执行跳转
                     window.location.href="/shejuyi/Home/Origanization/index";
                }
                else{

                }
              }
        })
    })


      $("#Choiwosecity").click(function(){
             layer.open({
                    type:2,
                    title:"选择城市",
                    content:"__CONTROLLER__/choosecity",
                    btnAlign: 'c',
                    area:["80%","95%"],
                    btn:["确定","重置"],
                    yes:function(index,layero)
                    {
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        var res = iframeWin.choose_city();  //子页面点击确认
                        if(res)
                        {

                           layer.closeAll();
                           window.location.reload();
                        }
                    }
                })
        })

</script>
</html>
