<meta charset="utf-8" />
</head>
<body>

同意
 <input type='radio' name='reply' value=1 />
拒绝
 <input type = 'radio' name = 'reply' value = 0 /><br />
<input type = 'hidden' name = 'id' value='{$id}' />
备注
<textarea></textarea>
</body>
<script>
   function reply()
   {
      var replyvalue = $('input[name=reply]:checked').val();
      var con = $('textarea').val();
      var id = $('input[name=id]').val();
      var flag;
      $.ajax({
	url:"__CONTROLLER__/doreply",
        type:"post",
        dataType:"json",
       data:{id:id,replyvalue:replyvalue,con:con},
       success:function(data){
           flag = data;
	},
        async:false
})
   return flag;
   }
</script>
</html>
