<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>社居易</title>
    <meta name='description' content='社居易，致力于社区工作简单化' />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/chooseCity.css">
    <script src="__PUBLIC__/Home/js/jquery-1.12.4.js"></script>
    <script src="__PUBLIC__/Home/js/bootstrap.js"></script>
    <script src="__PUBLIC__/Home/js/autoResizeImage.js"></script>

    {__CONTENT__}