<if condition="$islogin eq 0">
<div class = "headLogin">
    <div class = "container">
        <div class = "loginBox">
            <a href="login.html">登录</a>
            <span class = "splitLine"></span>
            <a href="register.html">注册</a>
        </div>
    </div>
</div>
<else />
<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
</script>
<div class = "headLogin">
<div class = "container">
<div class = "loginBox">
<ul class="layui-nav">
  <li class="layui-nav-item">
    <a href=""><img id="avator" style = "width:40px;height:40px;border-radius:50%" src="/shejuyi{$user_image}" class="layui-nav-img">&nbsp;&nbsp;&nbsp;{$showname}</a>
    <dl class="layui-nav-child">
     <if condition="$isidentify eq 0">
         <dd><a href="javascript:;" id = "doidentify">请先完成个人认证</a></dd>
     <else />
          <dd id="personinfo"><a href="javascript:;">个人信息</a></dd>
          <dd id="myoriganization"><a href="javascript:;">我的机构</a></dd>
          <dd id="myproject"><a href="javascript:;">我的项目</a></dd>
          <dd><a href="javascript:;">我的消息</a></dd>
     </if>
    <dd><a href="__MODULE__/Origanization/logout">注销</a></dd>
    </dl>
  </li>
</ul>
</div>
</div>
</div>
<script type="text/javascript">
    //个人信息被点击
        $("#personinfo").click(function(){
            layer.open({
                    type:2,
                    title:"个人信息",
                    content:"__MODULE__/Origanization/personinfo",
                    btnAlign: 'c',
                    area:["80%","95%"],
                    btn:["确定"],
                    yes:function(index, layero){
                      var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：
                      iframeWin.submit();
                      layer.close(layer.index);
                    }
               });
        })

       //我的社区被点击
       $("#myoriganization").click(function(){
            layer.open({
                type:2,
                title:"我的机构",
                content:"__MODULE__/Origanization/myoriganization",
                area:["80%","95%"],
                btnAlign: 'c',
                btn:["确定"],
                yes:function(index, layero){
                      var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：
                      iframeWin.submit();
                      layer.close(layer.index);
                    },
                cancel:function(index,layero)
                {
                    // top.location.hash = '';
                    history.replaceState(null,'',location.pathname+location.search);
                }
            })
       })

        //我的项目被点击
       $("#myproject").click(function(){
            layer.open({
                type:2,
                title:"我的项目",
                content:"__MODULE__/Origanization/myproject",
                area:["95%","95%"],
            })
       })
	     $("#doidentify").click(function(){
            //判断用户是否认证
            var res = isIdentify();
            if(!res)
            {
                return false;
            }
        })
          //判断用户是否认证逻辑
        function isIdentify()
        {
             if("{$isidentify}" == 1)
            {
                return true;
            }
            else
            {
                //未认证
                layer.open({
                    type:2,
                    title:"选择身份",
                    content:"chooserole",
                    btnAlign: 'c',
                    area:["80%","95%"],
                })
                return false;
            }

        }
</script>
</if>
