<!DOCTYPE html>
<html class="loginHtml">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="__PUBLIC__/Admin/images/favicon.ico">
	<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__PUBLIC__/Admin/css/public.css" media="all" />
	<link rel="shortcut icon" href="__PUBLIC__/Home/img/easyLife.ico" />
	{__CONTENT__}